html, body { 
  height: 100%; 
  margin: 0;
  background-color:#cceef9;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 640px;
  height: 360px;
  margin-left: -320px;
  margin-top: -180px;
}
